* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header * {
    text-align: center;
}

.col {
    width: 450px;
    height: 125px;
}

.row {
    margin-bottom: 50px;
}

.card img {
    max-height: 100%;
    max-width: 150px;
}

.card {
    display: flex;
    flex-direction: row;
}
